[submodule "packages/hardhat/test/forge/lib/forge-std"]
	path = packages/hardhat/test/forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/contracts"]
	path = packages/foundry/lib/contracts
	url = https://github.com/velodrome-finance/contracts
[submodule "packages/foundry/lib/v3-core"]
	path = packages/foundry/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "packages/foundry/lib/v3-periphery"]
	path = packages/foundry/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "packages/foundry/lib/v2-periphery"]
	path = packages/foundry/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
[submodule "packages/foundry/lib/swap-router-contracts"]
	path = packages/foundry/lib/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/chainlink-local"]
	path = packages/foundry/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "packages/foundry/lib/chainlink-brownie-contracts"]
	path = packages/foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "packages/foundry/lib/foundry-starter-kit"]
	path = packages/foundry/lib/foundry-starter-kit
	url = https://github.com/smartcontractkit/foundry-starter-kit
[submodule "packages/foundry/lib/openzeppelin-contracts-upgradeable"]
	path = packages/foundry/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/chainlink-local"]
	path = lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
[submodule "packages/foundry/lib/chainlink"]
	path = packages/foundry/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
