# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
.env.*
.env
!.env.deployments.*
!.env.clf
!.env.tokens
!.env.clccip

packages/hardhat/deployments

# ignoring all js files in /hardhat/
packages/hardhat/**/*.js
packages/nextjs/**/*.js

# except for the CLF js dist files
!packages/hardhat/tasks/CLFScripts/dist/**/*.js

bun.lockb
